

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
    "palette": {
        "popup": {
          "background": "#646464",
          "text": "#eeeeee"
        },
        "button": {
          "background": "transparent",
          "border": "#eeeeee",
          "text": "#eeeeee"
        }
      },
      "content": {
    "dismiss": "OK",
    "href": "/6thmorpethscouts/privacy"
  }
})});
</script>