<!-- FOOTER  -->
<footer id="footer" class="outer">
    <div class="inner">
        <div>
          <nav>
            <ul>
              {% for item in site.data.navigation %}
  <li>
      <a href="{{site.baseurl}}{{item.path}}">{{ item.title }}</a>
  </li>
  {% endfor %}
            </ul>
          
          </nav>
        </div>
      
        <div class="footer-contact">
          <p>6th Morpeth Scouts</p>
          <p>Charity no. 01234567</p>
          <p>Contact details</p>
        </div>
        <div class="footer-img-container">
          <img src="{{site.baseurl}}/images/fleur-de-lis-marque-white.png" alt="">
          </div>
    </div>
  </footer>
</body>
</html>