<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,maximum-scale=2">
  <link rel="stylesheet" type="text/css" media="screen" href="{{site.baseurl}}/css/style.css">
   <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;900&display=swap" rel="stylesheet">
</head>

<body>
    
    <!-- HEADER -->
        <header>
        <nav id="navbar">   
          <a href="{{site.baseurl}}/index.html"><img src="{{site.baseurl}}/images/6th-morpeth-scouts-logo.png" alt="6th Morpeth Scouts" class="logo"></a>
          <ul>
            <li><a href="/">Join</a></li>
             <li><a href="{{site.baseurl}}/beavers.html">Beavers</a></li>
            <li><a href="/">Cubs</a></li>
             <li><a href="/">Scouts</a></li>
             <li><a href="/">Explorers</a></li>
            <li><a href="/">Contact us</a></li>
            <li><a href="/">Location</a></li>
          </ul>
        </nav>

