<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,maximum-scale=2">
  <link rel="stylesheet" type="text/css" media="screen" href="{{site.baseurl}}/css/style.css">
   <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;900&display=swap" rel="stylesheet">
   {% include cookie-consent.html %}
</head>

<body>
    
    <!-- HEADER -->
        <header>
        <nav id="navbar">   
          <a href="{{site.baseurl}}/index.html"><img src="{{site.baseurl}}/images/6th-morpeth-scouts-logo.png" alt="6th Morpeth Scouts" class="logo"></a>
          <ul>
          
            {% for item in site.data.navigation %}
            {% if item.title != "Home" %}
<li>
    <a href="{{site.baseurl}}{{item.path}}">{{ item.title }}</a>
</li>
{% endif %}
{% endfor %}
          </ul>
        </nav>

