
       {% if page.title == "Beavers" %}
          <div id="hero" class="beavers-btn">
       {% elsif page.title == "Cubs" %}
          <div id="hero" class="cubs-btn">
       {% elsif page.title == "Scouts" %}
          <div id="hero" class="scouts-btn">
        {% elsif page.title == "Explorers" %}
        <div id="hero" class="explorers-btn">
        {% else %}
        <div id="hero">
          {% endif %}

            <div class="inner">
                
              <h1>{{ page.title }}</h1>
            </div><!--end inner-->
          </div><!--end hero-->

    </header>