<section id="section-nav" class="outer">

    <div class="inner">
      <h2>Find out more about our sections</h2>

    <!-- Scout sections nav -->
    <div class="flexdiv">

        <!--beavers btn -->
      <div class="column">
        <a href="{{site.baseurl}}/beavers">
        <div class="section-link beavers-colour">
          <div class="container">
            <img src="{{site.baseurl}}/images/beavers-logo-white.png" alt="Beavers" class="section-logo">
            <p>Age 6-8 years</p> 
          </div>
        </div><!--end section-link beavers-colour -->
        </a>
</div><!-- end card-col -->

        <!-- cubs btn -->
           <div class="column">
            <a href="{{site.baseurl}}/cubs">
            <div class="section-link cubs-colour">
              <div class="container">
                <img src="{{site.baseurl}}/images/cubs-logo-white.png" alt="Cubs" class="section-logo"> 
              <p>Age 8-10 1/2 years</p> 
            </div>
           </div><!--end section-link cubs-colour -->
           </a>
            </div><!-- end card-col -->

            <!-- scouts btn -->
            <div class="column">
              <a href="{{site.baseurl}}/scouts">
              <div class="section-link scouts-colour">
      <div class="container">
          <img src="{{site.baseurl}}/images/scouts-logo-white.png" alt="Scouts" class="section-logo">
         <p>10 1/2 to 14 years</p> 
      </div>
     </div><!--end section-link scouts-colour -->
     </a>
     </div><!--end card-col -->
 
     <!-- section-link explorers-colour -->
     <div class="column">
      <a href="{{site.baseurl}}/explorers">
             <div class="section-link explorers-colour">
      <div class="container">
          <img src="{{site.baseurl}}/images/explorers-logo-white.png" alt="Explorers" class="section-logo">
         <p>14 to 18 years</p> 
      </div>
     </div><!--end section-link explorers-colour -->
     </a>
     </div><!-- end card-col -->

  </div><!-- flexdiv -->

  </div><!-- end inner -->
        </section><!-- end scout sections -->