html, body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 17px;
    background: #fff;
    color: #404040;
    margin: 0;
    padding: 0;
    }
    
    main {
       /* padding: 2rem 4.2rem;*/
    }

    .outer {
        width: 100%;
        }

     .inner {
        padding: 2rem 4.2rem;
    }
       
    
    img {
      box-shadow: none;
       -webkit-box-shadow: none;
       -moz-box-shadow: none;
       -ms-box-shadow: none;
    }
    
    .logo {
      list-style: none;
      margin-right: auto;
      margin-top: 0;
      margin-left: 1rem;
      width: 70%;
      height: 70%;
      background: none;
      border: none;
      box-shadow: none;
      display: block;
    }
    
    #navbar {
      /*background:  #F5F5F5;*/
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 0 1rem;
    }
    
    #navbar ul {
      list-style: none;
      display: flex;
    }
    
    #navbar ul a {
      display: block;
      padding: 1em;
      font-size: 1.2em;
      color: #808080;
      font-weight: 400;
      text-decoration: none;
    }
    
      .hero {
        background: url('../images/scouts-in-canoes.jpg') center center/cover no-repeat;
        /*height: 70vh;*/
        display: flex;
        justify-content: left;
        align-items: center;
        color: white;
        margin: 0 1.5rem;
        max-width: 1120px;
      }
    
      .hero .inner {
      margin: 1.5rem; 
      width: 33%;
      background: rgba(0,0,0,0.5);
      }

      .hero-button {
          background-color: rgba(0,0,0,0.7);
          border-radius: 1px;
          border:1px solid #fff;
          display:inline-block;
          cursor:pointer;
          color:#fff;
          padding: .5rem 1rem;
          text-decoration:none;
        }
        .hero-button:hover {
          background-color:#fff;
          color: #000;
        }
      }
    
    /* flex secondary/section nav */
    
    .flex-grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
      text-align: center;
      margin: 0;
      }

      .flexdiv {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
      }
    
    /* Card style for secondary nav */
   
    .card-col {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      margin: .5rem 1rem;
    }

    .section-link {
      height: 7rem;
      border-bottom: #fff 4px solid;
      transition: .3s ease;
      padding: 1rem;
    }
    
    .card-img {
      width: 100%;
      padding: 2rem;
      margin: 0;
      border: 0;
      box-shadow: none;
       -webkit-box-shadow: none;
       -moz-box-shadow: none;
       -ms-box-shadow: none;
    }
    
    .border {
        transition: .3s ease;
        }
        
        .border:hover{
            -webkit-box-shadow: 0px 5px 0px 0px #707070; 
            box-shadow: 0px 5px 0px 0px #707070;
        transition: .3s ease;
        }
    .section-link:hover {
         /* box-shadow: 0 8px 16px 4px rgba(0,0,0,0.4);
        -webkit-box-shadow: 0 8px 16px 4px rgba(0,0,0,0.4);
       -moz-box-shadow: 0 8px 16px 4px rgba(0,0,0,0.4);
       -ms-box-shadow: 0 8px 16px 4px rgba(0,0,0,0.4);*/
       transition: .3s ease;
       border-bottom: #7413DC 4px solid;
    }
    
    .section-link p {
     color: white; 
    }
    
    .container {
       display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px 16px;
    }
    
    .beavers-btn {
      background:#006ddf;
    }

    .light p {
        color: #707070;
    }
    
    .cubs-btn {
      background: #23a950;
    }
    
    .scouts-btn {
      background: #004851;
    }
    
    .explorers-btn {
      background: #003982;
    }
    
    .section-logo {
      display: block;
      max-width: 100%;
      margin-top: .8rem;
    }
    
    

    #sections {
        color: #707070;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    
    #volunteering {
        background: #eaeaea;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    #volunteering h2 {
      text-align: center;
    }

  .flexdiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    padding: 0 1.2rem;
  }

   img.fluid {
      width: 100%;
    }

    #extras .column:nth-child(2) {
      border-top: 1px lightgrey solid;
      border-bottom: 1px lightgrey solid;
    }

      #extras h2 {
        font-size: 1.2rem;
        margin-top: 2rem;
      }

    #footer {
    background: #003982;
      border: 0;
      color:white;
    }
    


    /* *********** media queries *********** */
    
    /*@media screen {
    .section-logo {
      display: block;
        border: none;
    }
    }*/
      
    @media all and (max-width: 990px) {
      .navbar {
        flex-direction: column;
      }
      
      .logo {
      margin: auto;
    }
      
      #navbar ul  {
        width: 100%;
        justify-content: space-around;
      }
    }
    
    /* ****** ****** */
    @media all and (max-width: 768px) {
     
      #navbar {
        flex-direction: column;
        align-items: center;
      }
      
      .logo {
        margin: auto;
        /*align-self: left;*/ /* align the logo to the left side of 'navigation' */
    }
      
      #navbar ul {
        flex-direction: column;
        list-style:none; 
        padding-left:0; 
    } 
      
      #navbar ul a { 
        text-align: center; 
        padding: 10px;
        border-top: 1px solid rgba(255,255,255,0.3); 
        border-bottom: 1px solid rgba(0,0,0,0.1); 
      }
      
      #navbar ul li:last-of-type a {
        border-bottom: none;
      }

  

      .hero .inner {
        margin: 1.5rem; 
        width: 100%;
        background: rgba(0,0,0,0.4);
        text-align: center;
        }

    }

    @media screen and (min-width: 991px) {
      .menu-btn {
        display: none;
     }
      
      .column {
        flex: 2;
      }

      .card-col {
        flex: 1;
    }

    #extras .column:nth-child(2) {
      border-right: 1px lightgrey solid;
      border-left: 1px lightgrey solid;
      border-top: none;
      border-bottom: none;
    }

  }