<!DOCTYPE html>
<html lang="en-US">

<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

<!-- header include inc -->
{% include header.html %}


   
        <!-- MAIN CONTENT -->
     <main>
        <div class="inner">
           {% assign section = site.data.sections[page.section] %}

<h2> {{ section.title }} </h2>

{{ section.body }}
{% if section.intro-image !="" %}
<img src="{{section.intro-image}}" alt=""><caption>this is the intro image</caption>
{% endif %}

        </div>
   <!-- second section -->
         
          <section id="fullwidth" class="outer">
                <div class="inner">
                   <h2>{{ section.second-heading }}</h2>
   <div class="flexdiv">
      <div class="column">
  {{ section.second-section | markdownify }}
           </div><!-- end column -->
  {% if section.intro-image %}
       <div class="column">
<img class="fluid" src="{{section.second-image}}" alt=""><caption>this is the second section image</caption>
</div><!-- end img column -->
                  {% endif %}
      </div><!-- end flexdiv -->
        </div><!-- end inner -->
        </section>
 
</main>
   
<!-- footer inc -->
   <script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
        {% include footer.html %}
