<!DOCTYPE html>
<html lang="en-US">

<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

<!-- header include inc -->
{% include header.html %}

{% include home-hero.html %}

   
        <!-- MAIN CONTENT -->
     <main>
               
{% include section-buttons.html %}

             <!--main content to go here-->

          <!-- About us section -->
    <section id="fullwidth" class="outer">
        <div class="inner">
          <h2>{{ site.data.home.intro.title }}</h2>
          <div class="flexdiv">
<div class="column">
    {{ site.data.home.intro.text | markdownify }}
     
    </div>
     <div class="column">
       <img src="{{ site.data.home.intro.image }}" alt="" class="fluid">
      </div>
    </div><!-- flexdiv -->
    </div><!-- inner -->
    </section>
        
        <!-- features section -->
          
        <section id="extras">
      <div class="inner">
        <div class="flexdiv">

            
           {% for homepage-feature in site.homepage-features limit:3 %}
          <div class="column">  
          <h2>{{ homepage-feature.title }}</h2>
             <img src="{{ homepage-feature.image }}" alt="" class="fluid">
      
      {{ homepage-feature.content | markdownify }}
          
      </div><!-- end column -->
      
     {% endfor %}
            </div>
      </div>
    </section>
        
        <!-- end features -->

</main>
<!-- footer inc -->
   <script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
        {% include footer.html %}
