<!DOCTYPE html>
<html lang="en-US">


<!-- header include inc -->
{% include header.html %}

{% include home-hero.html %}

   
        <!-- MAIN CONTENT -->
     <main>
               
{% include section-buttons.html %}

             <!--main content to go here-->

          <!-- volunteering section -->
    <section id="volunteering" class="outer">
        <div class="inner">
          <h2>Volunteer with us</h2>
          <div class="flexdiv">
<div class="column">
    <p>   mardown content here:  {{ content }}</p>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
       Enim blanditiis aspernatur fugit fuga totam debitis praesentium, illum atque, deleniti quia iste sequi. I
       usto consectetur, animi atque doloribus enim porro harum.Cum totam perspiciatis esse vero, reiciendis harum sunt eaque voluptatum asperiores laborum enim inventore minus veritatis id labore nam unde voluptate consequuntur non ipsum at? Sint, nam. Non, reiciendis natus.
     </p> 
    </div>
     <div class="column">
       <img src="assets/images/scouts-in-canoes.jpg" alt="" class="fluid">
      </div>
    </div><!-- flexdiv -->
    </div><!-- inner -->
    </section>

    <!-- an extra section -->
    <section id="extras">
      <div class="inner">
        <div class="flexdiv">
          <div class="column">
            <h2>A headline</h2>
            <img src="assets/images/female-leader-with-large-group.jpg" alt="" class="fluid">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. </p>
          </div>
          <div class="column">
            <h2>Another headline</h2>
            <img src="assets/images/beavers-listening.jpg" alt="" class="fluid"> 

            <p>Sunt, ex numquam! Laboriosam deleniti optio, enim animi aut magni aperiam nesciunt. </p>
          </div>
          <div class="column">
            <h2>Another headline</h2>
            <img src="assets/images/male-leader-with-cubs.jpg" alt="" class="fluid">

            <p>Sint ut praesentium distinctio unde, reprehenderit aliquid laboriosam itaque eveniet.</p>
          </div>
        </div>
      </div>
    </section>


</main>
<!-- footer inc -->
        {% include footer.html %}