<!DOCTYPE html>
<html lang="en-US">


<!-- header include inc -->
{% include header.html %}

{% include home-hero.html %}

   
        <!-- MAIN CONTENT -->
     <main>
               
{% include section-buttons.html %}

             <!--main content to go here-->

          <!-- About us section -->
    <section id="fullwidth" class="outer">
        <div class="inner">
          <h2>About us</h2>
          <div class="flexdiv">
<div class="column">
    {{ content }}
     
    </div>
     <div class="column">
       <img src="{{site.baseurl}}/images/scouts-in-canoes.jpg" alt="" class="fluid">
      </div>
    </div><!-- flexdiv -->
    </div><!-- inner -->
    </section>
        
        <!-- features section -->
          
        <section id="extras">
      <div class="inner">
        <div class="flexdiv">
            {% for homepage-feature in site.homepage-features %}
          <div class="column">
       
         
          <h2>{{ homepage-feature.title }}</h2>
          <div class="flexdiv">
      <div class="column">
      
      {{ homepage-feature.content | markdownify }}
         
          <img src="src="{{site.baseurl}}/images/{{homepage-feature.img}}" alt="" class="fluid">
      </div><!-- end column -->
      
     {% endfor %}
            </div>
      </div>
    </section>
        
        <!-- end features -->

    <!-- an extra section -->
    <section id="extras">
      <div class="inner">
        <div class="flexdiv">
          <div class="column">
            <h2>Volunteer with us</h2>
            <img src="{{site.baseurl}}/images/female-leader-with-large-group.jpg" alt="" class="fluid">
            <p>Gain new skills whilst helping provide unique opportunities for our young people. Lorem ipsum dolor sit amet consectetur, adipisicing elit. </p>
          </div>
          <div class="column">
            <h2>Another headline</h2>
            <img src="{{site.baseurl}}/images/beavers-listening.jpg" alt="" class="fluid"> 

            <p>These areas could be just text or link to other pages.</p>
          </div>
          <div class="column">
            <h2>Another headline</h2>
            <img src="{{site.baseurl}}/images/male-leader-with-cubs.jpg" alt="" class="fluid">

            <p>Sint ut praesentium distinctio unde, reprehenderit aliquid laboriosam itaque eveniet.</p>
          </div>
        </div>
      </div>
    </section>


</main>
<!-- footer inc -->
        {% include footer.html %}
