<!DOCTYPE html>
<html lang="en-US">


<!-- header include inc -->
{% include header.html %}

{% include hero.html %}

<main>
        <div class="inner">
        <!--main content to go here-->
       
{{ content }}

</div>

 <!-- an extra section -->
 <section id="extras">
        <div class="inner">
          <div class="flexdiv">
            <div class="column">
              <h2>column 1</h2>
              <img src="{{site.baseurl}}/images/female-leader-with-large-group.jpg" alt="" class="fluid">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis distinctio maiores commodi! Cum eum, praesentium quod aperiam laudantium atque? Neque nulla nisi illo, impedit dolor eveniet quas repellendus. Inventore, vero?</p>            </div>
            <div class="column">
              <h2>Column 2</h2>
              <img src="{{site.baseurl}}/images/beavers-listening.jpg" alt="" class="fluid"> 
  
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur magni nulla alias corrupti nihil a recusandae quae, blanditiis dolor qui eius suscipit earum optio.</p>
            </div>
          </div>
        </div>
      </section>
</main>
<!-- footer inc -->
        {% include footer.html %}