--- 
layout: section-page
---


<!--  extra section -->
<section id="extras">
    <div class="inner">
      <div class="flexdiv">
        <div class="column beavers-btn">
          <h2>{{ name }}/h2>
         {{ content }}
        </div>
        <!--<div class="column beavers-btn">
          <h2>Column 2</h2>
          <img src="{{site.baseurl}}/images/beavers-listening.jpg" alt="" class="fluid"> 

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur magni nulla alias corrupti nihil a recusandae quae, blanditiis dolor qui eius suscipit earum optio.</p>
        </div>-->
      </div>
    </div>
  </section>