<!DOCTYPE html>
<html lang="en-US">


<!-- header include inc -->
{% include header.html %}

{% include hero.html %}

<main>
        <div class="inner">
        <!--main content to go here-->
       
{{ content }}

</div>


<!--  extra section -->
<section id="extras">
        <div class="inner">
                <div class="flexdiv">
            
                        {% for extra in site.extras %}
                        <div class="column beavers-btn">
                                <p><b>{{ extra.name }}</b></p>
                                <p>{{ extra.content | markdownify }}</p>        
                        </div>
                         {% endfor %}
                </div>
        </div>
</section>

</main>
<!-- footer inc -->
        {% include footer.html %}