<!DOCTYPE html>
<html lang="en-US">


<!-- header include inc -->
{% include header.html %}

{% include hero.html %}

<main>
        <div class="inner">
        <!--main content to go here-->
       
{{ content }}

</div>


<!--  extra section -->
<section id="extras">
        <div class="inner">
                <div class="flexdiv">
                    
                        {% assign sorted-extras = site.extras | where: "section", page.title %}
                        
                        {% for extra in sorted-extras %}

                                {% if page.title == "Beavers" %}
                                <div class="column beavers-colour">
                                {% elsif page.title == "Cubs" %}
                                <div class="column cubs-colour">
                                {% elsif page.title == "Scouts" %}
                                <div class="column scouts-colour">
                                {% elsif page.title == "Explorers" %}
                                <div class="column explorers-colour">
                                {% else %}
                                <div class="column">
                                {% endif %}
                             
                                 <!-- extras -->

                                 <!--example mdn code -->
                                 <style>
                                        .media {
                                                display: flex;
                                                align-items: flex-start;
                                            }
                                            .media .content {
                                                flex: 1;
                                                padding: 10px;
                                            }
                                        </style>
        
                        <div class="media">
                           <div class="image"><img src="https://placehold.it/60x60" alt="placeholder"></div>
                          <div class="content">This is the content of my media object. Items directly inside the flex container will be aligned to flex-start.</div>
                         </div>
              
              <!---my code -->
                                        {% if extra.img %}
                                        <div class="extras">
                                                        <img class="extra-img" src="{{site.baseurl}}/images/{{extra.img}}">
                                                {% else %}
                                                <img class="fleur" src="{{site.baseurl}}/images/fleur-de-lis-marque-white.png">
                                                {% endif %} 
                                                        <div class="extras-content">
                                                                <p><b>{{ extra.name }}</b></p>
                                                                <p>{{ extra.content | markdownify }}</p>      
                                                        </div>  <!--extras-content-->
                                        </div>   <!--extras-->  
                                        </div><!-- end column -->
                                        {% endfor %}
                               
                        </div><!-- end flexdiv -->
                </div><!-- end inner div -->
        </section>
        
        </main>
        <!-- footer inc -->
                {% include footer.html %}